.settings__setting {
    padding: 20px 0px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings__setting i {
    margin-right: 20px;
    font-size: 24px;
    opacity: 0.95;
}

.settings__setting-column:last-child {
    opacity: 0.5;
}