.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--pink);
    padding: 20px 50px;
    box-sizing: border-box;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    position: relative;
    color: #2e363e;
}

.nav__notification {
    position: absolute;
    left: 20px;
    bottom: 13px;
} 

.nav__dot {
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 29px;
    bottom: 27px;
}