.screen-header {
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    padding-top: 50px;
    margin-bottom: 15px;
    background-color: var(--pink);
    z-index: 1;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
}

.screen-header__gear-icon {
    position: relative;
}

.screen-header__gear-dot {
    left: 11px;
    bottom: 30px;
}